syntax: glob
*.-
*.pyc
*.out
*.log
*.*~
.~lock*
*.dat
*.xls
.DS_Store
.idea/**
.env/**
.vscode/**
env/**
env1/**
env2/**
flask/**
wiki/**
log/**
log1/**
data/**
tmp/**
pfe_multiprocess_tmp/*
env_vars_w.ini
config.yaml
service
compose.yaml
